.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

body {
    background-color: darkgoldenrod;
    color: aliceblue;
}

.output {
    border: 0.1em dashed black;
    padding: 1em 4em;
}

.input {
    display: flex;
    gap: 1em;
    
}

.operators {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row button, .operators {
    padding: 3em;
    max-width: 3em;
}

.numpad, .operators {
    border: 0.1em dashed black;
}