.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

body {
    background-color: darkslategray;
    color: gray;
}

.output {
    border: 0.3em solid aliceblue;
    padding: 1em 4em;
}

.msgbox {
    color: red;
}

.output div {
    text-align: center;
}

.input {
    display: flex;
    gap: 1em;
    
}

.operators {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3em;
    text-align: center;
}

.row button, .operators button, i {
    
    background-color: #455d7a;
    color: aliceblue;
}

.row button {
    max-width: 3em;
    padding: 3em;
}

i {
    padding: 2.2em;
}

.operators button {
    padding: 1em;
}

.numpad, .operators {
    border: 0.1em dashed black;
}

.title {
    border-bottom: 0.2em dashed aliceblue;
    text-align: center;
}

.title h4 {
    color: red;
}